# Exclude All Files in Report Except the .tex and .pdf file
Report/Report.*
!Report/Report.tex
!Report/Report.pdf

#Exclude All Object and Index and Compiled Header Files
*.o 
*.out
*.d
*.gch 

#Exclude All Output Files
*.txt
!Tests/*.txt
!Report/*.txt

#Exclude .vscode
.vscode/*