# Exclude All Files in Report Except the .tex and .pdf file
Report/Report.*
!Report/Report.tex
!Report/Report.pdf

#Exclude All Object and Index Files
*.o 
*.out
*.d 

#Exclude All Output Files
*.txt
!Tests/*.txt

#Exclude .vscode
.vscode/*